*.tar.gz
*~
.*.swp
.cache
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
ci/build
compile
compile_commands.json
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/fping.8
doc/fping6.8
install-sh
missing
src/*.gcda
src/*.gcno
src/*.gcov
src/*.o
src/fping
src/fping6
src/tags
stamp-h1
